// main: ../style.scss
html{
  font-family: 'din-2014-narrow', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}
h1{
  font-size: 38px;
  font-weight: bold;
  line-height: 1;
}